.signUp__dark {
  background-color: #111d2c;
  position: absolute;
  top: 10rem;
  bottom: 0;
  left: 0;
  right: 0;
}

.signUp__form {
  width: 384px;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 50px 30px;
  font-family: 'Roboto-Regular', 'Segoe UI', sans-serif;
  font-weight: 400;
  font-style: normal;
  border-radius: 5px;
  background-color: #ffffff;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
}

.signUp__title {
  font-family: 'Roboto-Medium', 'Segoe UI', sans-serif;
  font-size: 20px;
  font-weight: 500;
  font-style: normal;
  text-align: center;
}

.signUp__agreement {
  margin-bottom: 20px;
}

.signUp__label {
  display: flex;
  margin-top: 30px;
  color: #595959;
}

input.signUp__checkbox {
  position: relative;
  width: auto;
  margin-top: 5px;
  margin-right: 10px;
  cursor: pointer;
}

input.signUp__checkbox::before {
  content: '';
  position: absolute;
  width: 325px;
  height: 1px;
  bottom: 20px;
  background-color: #e8e8e8;
  margin-bottom: 10px;
}

button.signUp__submit {
  width: 100%;
  height: 45px;
  margin-bottom: 10px;
  border-radius: 5px;
  font-size: 16px;
  line-height: 24px;
}

.signUp__question {
  margin: 0;
  padding: 0;
  color: #8c8c8c;
  text-align: center;
}
