.app {
  box-sizing: border-box;
  min-height: 100vh;
  margin: 0 auto;
  font-family: 'Inter', sans-serif;
  background-color: #EBEEF3;
}

.main {
  width: 960px;
  margin: 0 auto;
  padding: 135px 0 25px;
}
.dark{
  background-color: #111d2c;
}