.articlesList {
  margin: 0 auto;
  list-style: none;
}

ul.pagination,
ul.dark {
  display: flex;
  justify-content: center;
}

ul.dark li a {
  background-color: #111d2c;
  color: #fff;
}


div.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  height: 100vh;
}

.alert {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 90%;
  margin: 10rem auto;
  background-color: #111d2c;
}