.articlesList {
  margin: 0 auto;
  list-style: none;
  padding: 0 2em;
}

ul.pagination,
ul.dark {
  display: flex;
  justify-content: center;
}

ul.dark li a {
  background-color: #111d2c;
  color: #fff;
}

div.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  height: 100vh;
}

.alert {
  height: 100vh;
  width: 90%;
  margin: auto;
}
