.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 3em;
  padding: 20px;
  font-size: 16px;
  line-height: 28px;
  background-color: #ffffff;
  position: relative;
  z-index: 2;
  width: 100%;
  box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
}

.dark {
  background-color: #112a45;
}

.header__title {
  margin: 0;
  padding: 0;
}

.header__titleLink {
  font-size: 18px;
  line-height: 28px;
  color: #000000;
}

.header__loggedOut,
.header__loggedIn {
  display: flex;
  align-items: center;
}

.header__logOut {
  background-color: transparent;
  border: 1px solid;
  border-radius: 5px;
  padding: 5px 10px;
}

.header__userInfo {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 700;
  margin-right: 25px;
}

.header__userName {
  color: #000000;
  margin-right: 10px;

  &:hover,&:active{
    opacity: .8;
  }
}

.switch {
  background: #365071;
}

.ant-switch-checked {
  background-color: #f5222d;
}

.header__createArticle {
  margin-right: 20px;
  padding: 3px 5px;
  font-size: 14px;
  color: #000000;
  border: 1px solid #000000;
  border-radius: 5px;

  &:active, &:hover {
    color: #52c41a;
    border: 1px solid #52c41a;
  }
}

.header__avatar {
  width: 46px;
  height: 46px;
  border-radius: 50%;
  object-fit: cover;
}

.header__logOut {
  box-sizing: border-box;
  margin: 0;
  padding: 5px 10px;
  background-color: transparent;
  border: 1px solid #000000;
  border-radius: 5px;
  cursor: pointer;
  outline: none;

  &:active, &:hover {
    border-color: #f5222d;
    color: #f5222d;
  }
}

.header__username:active,
.header__username:hover {
  color: #52c41a;
}

.header__signIn {
  margin-right: 20px;
  color: #000000;
}

.dark__signIn {
  color: whitesmoke;
}

.header__signUp {
  color: #52c41a;
  border: 1px solid #52c41a;
  border-radius: 5px;
  padding: 5px 18px;
}

.header__signIn:active,
.header__signUp:active {

}

.header__signIn:hover {
  color: #52c41a;
}

.header__signUp:hover {
  background-color: #52c41a;
  color: #fff;
}


.dark__loggedIn {
  span {
    color: white;
  }

  .header__logOut {
    background-color: #f5222d;
    color: white;
    opacity: .85;

    &:hover {
      opacity: 1;
      color: white;
    }
  }

  .header__createArticle{
    background-color: #52c41a;
    color: white;
    opacity: .85;

    &:hover {
      opacity: 1;
      color: white;
    }
  }
}